In [ ]:
1.  Ans- values are ‘hello’,-87.8.
Expression are +,/,-.

In [ ]:
2.Ans- string- string in python are sequence of character data. They created by enclosing characters in quotes.
Variable- a variable is named location used to store data in memory. It is declared by writing the variable name and assigning it a value using the equal sign(=).

In [ ]:
3.Ans- Integer- integer are whole number, without a fraction component. they can be positive or negative.
Float-those represent real numbers and are written with a decimal point.
String- string in python is sequence of character data. They created by enclosing characters in quotes.

In [ ]:
4. ans- An expression is a combination of values, variables, operators, and calls to function.

In [ ]:
5.Ans- statement in python is not evaluated for results. An expression in python is evaluated for some results.

In [ ]:
bacon=22
bacon + 1

23

In [ ]:
8. because variable name cannot begin with number.

In [ ]:
9.Ans- integer- x=5
      Float- X=5.00
String- nm="alice”

In [ ]:
10.Ans- can only concatenate string (not "int") to string. Here remove integer.